body {
    background: url("melting.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-link {
    border-color: black;
    font-size: 40px;
    background-color: #181C49;
    color: whitesmoke;
    padding: 15px;
    border-radius: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    /*space between the thingy*/
    -webkit-appearance: none;
    background-color: rgb(148, 255, 251);
    border-width: 1px;
    color: #181339;
    border-color: black;
    border-radius: 12px;
    font-size: 40px;
    padding: 3px;
    font-size: 350%
}

.social-media {
    flex-direction: column;
    align-content: space-around;
}

@media screen and (max-width: 480px) {
    body {
        flex-direction: column;
    }
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}


.canvas {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 15px;
}

.submit {
    font-size: 15px;
    border-radius: 20px;
}