body {
    background: url("melting.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-link {
    border-color: black;
    font-size: 40px;
    background-color: #181C49;
    color: whitesmoke;
    padding: 15px;
    border-radius: 20px;
}

.share {
    font-size: 40px;
}