body {
    background: url('https://aos.iacpublishinglabs.com/question/aq/1400px-788px/causes-polar-ice-caps-melt_fa6d6b2b5c47857a.jpg?domain=cx.aos.ask.com');
    background-size: cover;
    padding-top: 25%;
}
.back {
    font-size: 50;
    border-radius: 12px;
    border-color: black;
    background-color: whitesmoke;
    float: right;
    margin-right: 50px;
}
.draw {
    font-size: 50;
    border-radius: 12px;
    border-color: black;
    background-color: whitesmoke;
    margin-top: 0%;
    margin-left: 24%
}
.learn {
    font-size: 50;
    border-radius: 12px;
    border-color: black;
    background-color: whitesmoke;
    float: left;
    margin-left: 50px;
}